<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/home/johnhoman/projects/school/hospital_db/hospitalweb/static/css/base.css">
  <meta charset="utf-8">
  <title>John Homan DB</title>
</head>
<body>
  <h1 class="header head_group">John Homan Computer Science 631</h1>
  <h2 id="subheader head_group" class="subheader">Hospital Database Project</h2>
  <ul>
    <li><a href="/management/create/patient/record/">New Patient</a></li>
    <li><a href="/management/view/patient/record/">Patient Information</a></li>
  </ul>
</body>
